 .u-section-1 {
  background-image: linear-gradient(#e176e7, #72dfef);
}

.u-section-1 .u-sheet-1 {
  min-height: 598px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1033px;
  margin: 33px auto 33px 15px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 533px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Rubik;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 3px;
  border-style: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0;
  padding: 17px 36px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 533px;
}

.u-section-1 .u-container-layout-2 {
  padding: 3px 0 0;
}

.u-section-1 .u-image-1 {
  height: 512px;
  object-position: 0% 65.31%;
  width: 515px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px -74px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 545px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 411px;
    width: 406px;
    margin-top: 59px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 130px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 667px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-1 {
    height: 525px;
    width: 562px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 572px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 457px;
    width: 457px;
    margin-top: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.125rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-1 .u-image-1 {
    height: 322px;
    width: 302px;
    margin-top: 11px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 620px;
}

.u-section-2 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 409px;
  width: 738px;
  margin: 37px auto 60px 192px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }

  .u-section-2 .u-carousel-control-1 {
    left: -45px;
  }

  .u-section-2 .u-carousel-control-2 {
    right: -45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 65px;
  }

  .u-section-2 .u-gallery-1 {
    height: 344px;
    width: 640px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 74px;
  }

  .u-section-2 .u-gallery-1 {
    height: 207px;
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  min-height: 318px;
}

.u-section-3 .u-sheet-1 {
  min-height: 754px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 50px auto 50px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("images/ScreenShot2023-03-01at2.26.23PM.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-3 .u-icon-1 {
    padding: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 66px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    min-height: 391px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 655px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("images/ScreenShot2023-03-01at2.32.45PM.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-4 .u-text-1 {
  margin: 30px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 540px;
  }

  .u-section-4 .u-icon-1 {
    padding: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 77px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    min-height: 391px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 926px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 45px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 821px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-image-1 {
  height: 337px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-image-2 {
  width: 268px;
  height: 380px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 285px;
  height: 380px;
  margin: -380px 0 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 821px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
  font-size: 3rem;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-5 .u-line-1 {
  width: 507px;
  transform-origin: left center;
  margin: 30px auto 0 0;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  margin: 30px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.125rem;
  font-style: italic;
  margin: -58px 0 0 98px;
}

.u-section-5 .u-text-5 {
  margin-left: 98px;
  margin-right: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 677px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 278px;
    margin-top: 77px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 642px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-5 .u-line-1 {
    width: 410px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -74px;
    margin-left: 94px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 19px;
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1037px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 426px;
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 509px;
  }

  .u-section-5 .u-line-1 {
    width: 653px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 778px;
  }

  .u-section-5 .u-image-1 {
    height: 320px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 592px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-line-1 {
    width: 520px;
  }

  .u-section-5 .u-icon-1 {
    height: 64px;
    margin-top: 20px;
  }

  .u-section-5 .u-text-4 {
    margin-top: -64px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 564px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 490px;
  }

  .u-section-5 .u-image-1 {
    height: 201px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 806px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-line-1 {
    width: 320px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 645px;
}

.u-section-6 .u-shape-1 {
  height: 518px;
  margin-top: 60px;
  margin-bottom: 0;
  background-image: linear-gradient(to right, #f9e79b, #adecf6);
}

.u-section-6 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -473px auto 0;
}

.u-section-6 .u-list-1 {
  width: 1033px;
  margin: 77px auto 87px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 22px) calc(33.3333% - 22px) calc(33.3333% - 22px);
  min-height: 304px;
  grid-gap: 33px 33px;
}

.u-section-6 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 25px 29px;
}

.u-section-6 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/579c6788-9e61-c19d-b12d-fc803a3d4469.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 16px auto 0;
}

.u-section-6 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 25px 29px;
}

.u-section-6 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0;
}

.u-section-6 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 16px auto 0;
}

.u-section-6 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 25px 29px;
}

.u-section-6 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 14px auto 0;
}

.u-section-6 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 14px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 16px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-6 .u-list-1 {
    width: 876px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 22px));
    min-height: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-6 .u-shape-1 {
    margin-top: 72px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6 .u-list-1 {
    width: 640px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1069px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-6 .u-shape-1 {
    height: 899px;
    margin-top: 60px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -832px;
  }

  .u-section-6 .u-list-1 {
    width: 442px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1479px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-6 .u-shape-1 {
    height: 878px;
    margin-top: 55px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-6 .u-list-1 {
    width: 276px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1575px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 582px;
}

.u-section-7 .u-shape-1 {
  height: 581px;
  background-image: linear-gradient(to right, #edaef1, #72dfef);
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -511px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 1140px;
  margin: 29px auto 32px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px);
  min-height: 386px;
  grid-gap: 23px 23px;
}

.u-section-7 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-1 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-7 .u-social-icons-1 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-1 {
  padding: 18px;
}

.u-section-7 .u-icon-2 {
  padding: 18px;
}

.u-section-7 .u-icon-3 {
  padding: 18px;
}

.u-section-7 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-2 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-7 .u-social-icons-2 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-4 {
  padding: 18px;
}

.u-section-7 .u-icon-5 {
  padding: 18px;
}

.u-section-7 .u-icon-6 {
  padding: 18px;
}

.u-section-7 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-3 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-7 .u-social-icons-3 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-7 {
  padding: 18px;
}

.u-section-7 .u-icon-8 {
  padding: 18px;
}

.u-section-7 .u-icon-9 {
  padding: 18px;
}

.u-section-7 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-7 .u-image-4 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-7 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-7 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-7 .u-social-icons-4 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-7 .u-icon-10 {
  padding: 18px;
}

.u-section-7 .u-icon-11 {
  padding: 18px;
}

.u-section-7 .u-icon-12 {
  padding: 18px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 850px;
  }

  .u-section-7 .u-list-1 {
    width: 940px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    width: 163px;
    height: 163px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 89px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-2 {
    width: 163px;
    height: 163px;
  }

  .u-section-7 .u-social-icons-2 {
    width: 89px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-3 {
    width: 163px;
    height: 163px;
  }

  .u-section-7 .u-social-icons-3 {
    width: 89px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-4 {
    width: 163px;
    height: 163px;
  }

  .u-section-7 .u-social-icons-4 {
    width: 89px;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 1338px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-7 .u-list-1 {
    width: 720px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
    min-height: 1028px;
  }
}

@media (max-width: 767px) {
   .u-section-7 {
    min-height: 1350px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.875rem;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 2303px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-list-1 {
    width: 296px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-8 {
  background-image: none;
  min-height: 583px;
}

.u-section-8 .u-shape-1 {
  height: 581px;
  background-image: linear-gradient(to right, #72dfef, #edaef1);
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: -511px auto 0;
}

.u-section-8 .u-list-1 {
  grid-template-rows: auto auto auto;
  width: 1140px;
  margin: 29px auto 32px;
}

.u-section-8 .u-repeater-1 {
  grid-template-columns: calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px) calc(25% - 17.25px);
  min-height: 386px;
  grid-gap: 23px 23px;
}

.u-section-8 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-8 .u-image-1 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-2 {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-8 .u-social-icons-1 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-8 .u-icon-1 {
  padding: 18px;
}

.u-section-8 .u-icon-2 {
  padding: 18px;
}

.u-section-8 .u-icon-3 {
  padding: 18px;
}

.u-section-8 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-8 .u-image-2 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-8 .u-social-icons-2 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-8 .u-icon-4 {
  padding: 18px;
}

.u-section-8 .u-icon-5 {
  padding: 18px;
}

.u-section-8 .u-icon-6 {
  padding: 18px;
}

.u-section-8 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 30px 0;
}

.u-section-8 .u-image-3 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-8 .u-text-7 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-8 .u-social-icons-3 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-8 .u-icon-7 {
  padding: 18px;
}

.u-section-8 .u-icon-8 {
  padding: 18px;
}

.u-section-8 .u-icon-9 {
  padding: 18px;
}

.u-section-8 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 30px 0;
}

.u-section-8 .u-image-4 {
  width: 197px;
  height: 197px;
  background-image: url("images/ScreenShot2023-01-31at3.08.20PM.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-8 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-8 .u-text-9 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-8 .u-social-icons-4 {
  height: 23px;
  min-height: 16px;
  width: 88px;
  min-width: 68px;
  margin: 30px auto 0;
}

.u-section-8 .u-icon-10 {
  padding: 18px;
}

.u-section-8 .u-icon-11 {
  padding: 18px;
}

.u-section-8 .u-icon-12 {
  padding: 18px;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 850px;
  }

  .u-section-8 .u-list-1 {
    width: 940px;
  }

  .u-section-8 .u-repeater-1 {
    min-height: 314px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-1 {
    width: 163px;
    height: 163px;
  }

  .u-section-8 .u-social-icons-1 {
    width: 89px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-2 {
    width: 163px;
    height: 163px;
  }

  .u-section-8 .u-social-icons-2 {
    width: 89px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-3 {
    width: 163px;
    height: 163px;
  }

  .u-section-8 .u-social-icons-3 {
    width: 89px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-image-4 {
    width: 163px;
    height: 163px;
  }

  .u-section-8 .u-social-icons-4 {
    width: 89px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 1338px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-8 .u-list-1 {
    width: 720px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: calc(50% - 11.5px) calc(50% - 11.5px);
    min-height: 1028px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1350px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.875rem;
  }

  .u-section-8 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 2303px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-list-1 {
    width: 296px;
  }

  .u-section-8 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 899px;
}

.u-section-9 .u-shape-1 {
  width: 461px;
  height: 696px;
  background-image: linear-gradient(#f9e79b, #72dfef);
  margin: 60px auto 0 285px;
}

.u-section-9 .u-image-1 {
  width: 665px;
  height: 629px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -611px 0 0 auto;
}

.u-section-9 .u-group-1 {
  width: 621px;
  min-height: 621px;
  margin: -574px auto 60px 0;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  margin: 45px 152px 0 0;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(#2cb7cc, #f1c50e);
  margin: 20px auto 0 0;
  padding: 15px 41px 16px 40px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 778px;
  }

  .u-section-9 .u-shape-1 {
    height: 648px;
    margin-right: 194px;
    margin-left: auto;
  }

  .u-section-9 .u-image-1 {
    width: 583px;
  }

  .u-section-9 .u-group-1 {
    width: 516px;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 95px;
  }

  .u-section-9 .u-btn-1 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1426px;
  }

  .u-section-9 .u-shape-1 {
    width: 387px;
    height: 1263px;
    margin-right: auto;
  }

  .u-section-9 .u-image-1 {
    height: 665px;
    margin-top: -689px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-group-1 {
    min-height: 533px;
    margin-top: -1180px;
    margin-bottom: 731px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1227px;
  }

  .u-section-9 .u-shape-1 {
    width: 302px;
    height: 1091px;
    margin-right: 108px;
  }

  .u-section-9 .u-image-1 {
    height: 440px;
    width: 495px;
    margin-top: -440px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-9 .u-group-1 {
    margin-top: -1060px;
    margin-bottom: 587px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
  }

  .u-section-9 .u-text-2 {
    margin-right: 95px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-9 .u-shape-1 {
    width: 203px;
    height: 901px;
    margin-right: auto;
  }

  .u-section-9 .u-image-1 {
    height: 338px;
    margin-top: -378px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-group-1 {
    margin-top: -871px;
    margin-bottom: 428px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 1083px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 58px;
  margin-left: auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 444px;
  height: 445px;
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 1.875rem;
  margin: 122px 0 0;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 443px;
}

.u-section-10 .u-container-layout-3 {
  padding: 21px 30px;
}

.u-section-10 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 0 0 auto;
}

.u-section-10 .u-shape-1 {
  width: 115px;
  height: 115px;
  background-image: linear-gradient(#edaef1, #72dfef);
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 40px auto 0 0;
}

.u-section-10 .u-image-2 {
  min-height: 497px;
  background-image: url("images/d3c67ce6-9c65-1ad2-ff81-cf39c1af5f18.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-4 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 914px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-10 .u-image-1 {
    background-position: 50% 50%;
    width: 410px;
    height: 411px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 427px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 365px;
  }

  .u-section-10 .u-shape-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-10 .u-image-2 {
    min-height: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-10 .u-image-1 {
    width: 300px;
    height: 301px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-10 .u-image-2 {
    min-height: 366px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 491px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-image-2 {
    min-height: 471px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-10 .u-image-2 {
    min-height: 297px;
  }
} .u-section-11 {
  background-image: url("images/cc.jpg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 1495px;
}

.u-section-11 .u-image-1 {
  width: 305px;
  height: 120px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 68px auto 0 0;
}

.u-section-11 .u-image-2 {
  width: 315px;
  height: 298px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.63;
  margin: -120px 298px 0 auto;
}

.u-section-11 .u-list-1 {
  width: 572px;
  grid-template-rows: auto auto auto;
  grid-auto-rows: 100%;
  margin: -171px auto 0 61px;
}

.u-section-11 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1238px;
  grid-gap: 10px 10px;
}

.u-section-11 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-11 .u-container-layout-1 {
  padding: 30px;
}

.u-section-11 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#f1c50e, #2cb7cc);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-11 .u-text-1 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-11 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-11 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-11 .u-container-layout-2 {
  padding: 30px;
}

.u-section-11 .u-icon-2 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#f1c50e, #2cb7cc);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-11 .u-text-3 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-11 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-11 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-11 .u-container-layout-3 {
  padding: 30px;
}

.u-section-11 .u-icon-3 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#f1c50e, #2cb7cc);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-11 .u-text-5 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-11 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-11 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-11 .u-container-layout-4 {
  padding: 30px;
}

.u-section-11 .u-icon-4 {
  height: 91px;
  width: 91px;
  background-image: linear-gradient(#f1c50e, #2cb7cc);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
  padding: 19px;
}

.u-section-11 .u-text-7 {
  font-weight: 400;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -91px 0 0 123px;
}

.u-section-11 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 14px 0 0 123px;
}

.u-section-11 .u-image-3 {
  width: 188px;
  height: 214px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1.29;
  margin: -195px 32px 0 auto;
}

.u-section-11 .u-image-4 {
  width: 533px;
  height: 437px;
  margin: -1045px -14px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-11 {
    background-position: 0% 50%;
  }

  .u-section-11 .u-sheet-1 {
    min-height: 1233px;
  }

  .u-section-11 .u-image-1 {
    margin-top: 129px;
  }

  .u-section-11 .u-image-2 {
    margin-top: -178px;
    margin-right: auto;
  }

  .u-section-11 .u-list-1 {
    margin-top: -9px;
  }

  .u-section-11 .u-image-3 {
    margin-top: -53px;
  }

  .u-section-11 .u-image-4 {
    width: 364px;
    height: 364px;
    margin-top: -1114px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 944px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-11 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 2472px;
  }

  .u-section-11 .u-image-2 {
    margin-top: -218px;
    margin-left: 0;
  }

  .u-section-11 .u-list-1 {
    width: 340px;
    margin-top: 31px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-11 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-11 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-11 .u-image-3 {
    margin-top: 35px;
    margin-right: 35px;
  }

  .u-section-11 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
} .u-section-12 {
  background-image: linear-gradient(to right, #fbeafc, #adecf6);
  min-height: 373px;
}

.u-section-12 .u-list-1 {
  grid-auto-rows: 100%;
  width: 1140px;
  margin: 60px auto;
}

.u-section-12 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 190px;
  grid-gap: 20px;
}

.u-section-12 .u-list-item-1 {
  background-image: linear-gradient(#72dfef, #e176e7);
}

.u-section-12 .u-container-layout-1 {
  padding: 40px 30px;
}

.u-section-12 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-12 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-12 .u-list-item-2 {
  background-image: linear-gradient(#72dfef, #e176e7);
}

.u-section-12 .u-container-layout-2 {
  padding: 40px 30px;
}

.u-section-12 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-12 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-12 .u-list-item-3 {
  background-image: linear-gradient(#72dfef, #e176e7);
}

.u-section-12 .u-container-layout-3 {
  padding: 40px 30px;
}

.u-section-12 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 40px 0 0;
}

.u-section-12 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 1126px;
  }

  .u-section-12 .u-list-1 {
    width: 940px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 157px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
  }

  .u-section-12 .u-text-3 {
    margin-right: 0;
  }

  .u-section-12 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 1303px;
  }

  .u-section-12 .u-list-1 {
    width: 720px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 361px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-list-1 {
    width: 540px;
  }

  .u-section-12 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 1459px;
  }

  .u-section-12 .u-list-1 {
    width: 340px;
  }

  .u-section-12 .u-repeater-1 {
    min-height: 511px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}